global
  maxconn 20000
  daemon

defaults
  mode http
  log global
  option  httplog
  #HA/HS Websocket is required https://www.haproxy.com/documentation/haproxy-configuration-tutorials/load-balancing/websocket/#configure-websockets
  option  http-server-close
  option  dontlognull
  option  redispatch
  option  contstats
  retries 3
  backlog 10000
  timeout client          3600s
  timeout connect          5s
  timeout server          3600s
  #HA/HS Websocket is required https://www.haproxy.com/documentation/haproxy-configuration-tutorials/load-balancing/websocket/#configure-websockets
  timeout tunnel        3600s
  timeout http-keep-alive  1s
  timeout http-request    15s
  timeout queue           30s
  timeout tarpit          60s
  option forwardfor # Enables automatic X-Forwarded-For header addition

frontend http-in
  mode    http
  log stdout format raw local0 debug #for additional logging
  bind *:80
  bind *:443 ssl crt /etc/ssl/certs/jenkins.pem

  # Log details
  http-request capture req.ssl_sni len 32
  #http-request capture ssl_c_s_dn len 64 if valid_client_cert

  # redirect http -> https
  redirect scheme https if !{ ssl_fc }

  # HSTS (15768000 seconds = 6 months)
  http-response set-header Strict-Transport-Security max-age=15768000

  # Compression
  compression algo gzip
  compression type text/html text/plain text/css application/javascript application/json application/xml text/xml application/rss+xml application/atom+xml text/javascript

  # Set ACLs depending on host header
  acl is_cjoc hdr(host) -i ${CJOC_URL}
  acl is_controller hdr(host) -i ${CONTROLLER_URL}


  # Forward requests based on host header (oc.ha or client.ha)
  use_backend controller if is_controller
  use_backend cjoc if is_cjoc


# Operations center backend
backend cjoc
  server mycjoc operations-center:${HTTP_PORT} check
  http-request set-header X-Forwarded-For %[src]
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request set-header X-Forwarded-Host %[req.hdr(Host)]

# Client controllers backend (in high availability mode)
backend controller
  # balance strategy https://www.haproxy.com/documentation/haproxy-configuration-tutorials/core-concepts/backends/
  #balance roundrobin
  balance leastconn
  log stdout format raw local0 debug
    
  # Enable sticky sessions
  # The insert parameter creates the cookie, 
  # indirect removes the cookie on each incoming request before forwarding the message to the server
  # nocache sets the Cache-Control: private HTTP header so that cache servers between HAProxy and the user won’t cache the response.
  # https://www.haproxy.com/blog/load-balancing-affinity-persistence-sticky-sessions-what-you-need-to-know#session-cookie-setup-by-the-load-balancer
  cookie cloudbees_sticky insert indirect nocache secure

  option forwardfor   # Forward client IP to Jenkins

  # Store the host and path into separate transaction variables
  #http-request set-var(txn.host) req.hdr(host)
  #http-request set-var(txn.path) path
  # Set the header using concatenation directly in the `http-response set-header` rule
  #http-response set-header X-Your-Header %[var(txn.host)]%[var(txn.path)]
  # Set proper response headers for Jenkins downloads
  #http-response set-header Content-Disposition attachment if { path_end .zip .tar .gz .war }

  # X-Forwarded-Port tells the backend the original port the client connected to.
  #http-request set-header X-Forwarded-Port %[dst_port]

  #X-Forwarded-Host tells the backend the original host requested by the client.
  http-request  set-header X-Forwarded-Host %[req.hdr(Host)]


  # Backend servers which receive forwarded requests
  server mycontroller controller:${HTTP_PORT} check cookie mycontroller

  # Healthcheck (to avoid forwarding requests to unreachable servers)
  option httpchk GET /whoAmI/api/json?tree=authenticated
  #option httpchk GET /login
  http-check expect status 200
  default-server inter 5s downinter 1s rise 2 fall 2
